*.iml
.gradle/
local.properties
/.idea
.DS_Store
/build
captures
.externalNativeBuild
.cxx

# iOS
iosApp/iosApp.xcodeproj/xcuserdata
iosApp/iosApp.xcworkspace/xcuserdata
iosApp/iosApp.xcworkspace/xcshareddata/swiftpm
